<div class="filter-container" [ngStyle]="{ 'margin': layout === 'component' ? ' 1rem 0 1rem 1rem' : '0' }">

    <!-- Platform fields -->
    <label class="category-title" fxLayout="row" fxLayoutAlign="start center"
        matTooltip="Select an option to filter for platform">
        <mat-icon>computer</mat-icon>Platforms
    </label>
    <mat-radio-group class="category-group" [(ngModel)]="selectedPlatform">
        <mat-radio-button class="platform-button" [value]="platform.key" (click)="setPlatform(platform.key)"
            *ngFor="let platform of platforms | keyvalue | slice: 0 : platformsExpanded ? getCount(platforms) : 5">
            {{ platform.value.name }} ({{ platform.value.count || 0 }})
        </mat-radio-button>
    </mat-radio-group>

    <button mat-button class="show-hide" (click)="togglePlatforms()"
        matTooltip="Show {{ platformsExpanded ? 'less' : 'more' }} options">
        {{ platformsExpanded ? 'Show less' : 'Show more' }}
        <mat-icon>
            {{ platformsExpanded ? 'expand_less' : 'expand_more' }}
        </mat-icon>
    </button>

    <!-- Giveaway type fields -->
    <label class="category-title" fxLayout="row" fxLayoutAlign="start center"
        matTooltip="Select an option to filter for giveaway type">
        <mat-icon>category</mat-icon>Type
    </label>
    <mat-radio-group class="category-group" [(ngModel)]="selectedType">
        <mat-radio-button class="type-button" *ngFor="let type of types | keyvalue" (click)="setGameType(type.key)"
            [value]="type.key">
            {{ type.value.name }} ({{ type.value.count || 0 }})
        </mat-radio-button>
    </mat-radio-group>
</div>