@import '../../../../variables.scss';

.filter-container {
  background-color: var(--foreground-dark);
  // position: sticky;
  // top: 0;
  max-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  color: var(--white);
  padding: 1rem;
  width: 220px;
  border-radius: 5px;
  margin-bottom: calc(#{$footerHeight} + #{$defaultPadding});

  .category-title {
    font-weight: 500;
    font-size: 1rem;
    color: var(--foreground-light);

    mat-icon {
      font-size: 1.2rem;
      margin-right: .2rem;
    }
  }

  .show-hide {
    width: 100%;
    color: var(--primary);
    font-size: .9rem;
    margin-bottom: 15px;
  }

  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }

  .type-button,
  .platform-button {
    color: var(--white);
    margin: 5px;
  }

}

.filter-container::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

.filter-container::-webkit-scrollbar-track {
  background: var(--foreground-dark);
  /* color of the tracking area */
}

.filter-container::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid var(--foreground-dark);
  /* creates padding around scroll thumb */
}
