mat-toolbar {
  background-color: var(--foreground-dark);

  .spacer {
    flex: 1 1 auto;
  }

  .title {
    color: var(--primary);
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1px;

    mat-icon {
      font-size: 1.2rem;
      font-weight: normal;
    }
  }
}