mat-toolbar {
  background-color: var(--foreground-dark);

  .spacer {
    flex: 1 1 auto;
  }

  .title {
    color: var(--foreground-light);
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1px;

    mat-icon {
      font-size: 1.3rem;
      font-weight: normal;
    }
  }

  .status-message {
    color: var(--grey);
    font-size: .9rem;
    font-weight: 500;
  }
}