.content {
  width: 100%;

  &__fab {
    position: fixed;
    // transform: translate(-50%, -50%);
    z-index: 9999;
  }

  &__filter {
    width: 300px;
  }

  &__list {
    width: 100%;
  }

  .left {
    top: 90%;
    left: 10%;
  }

  .right {
    top: 90%;
    right: 10%;
  }
}
