.grid-container {
    padding: 16px;
}

mat-card {
    border: 1px solid white;

    img {
        height: 10rem;
        object-fit: cover;
    }

    mat-card-content > p {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        line-clamp: 2; 
        -webkit-box-orient: vertical;
    }
}