<div class="sort" fxFlex fxLayoutAlign="space-between">
    <div class="results" fxLayout="column" fxLayoutAlign="center">
        Results: {{ giveaways.length || 0 }}
    </div>

    <div class="sort-area">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon aria-hidden="false" aria-label="Sort icon">sort</mat-icon>
            Sort by: {{ sortOptions[selectedSort] }}
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let sortOption of sortOptions | keyvalue" (click)="setSort(sortOption.key)">
                {{ sortOption.value }}
            </button>
        </mat-menu>
    </div>
</div>