<div class="sort" fxFlex fxLayoutAlign="space-between">
    <div class="results" fxLayout="column" fxLayoutAlign="center">
        Results found: {{ giveaways.length || 0 }}
    </div>

    <div class="sort-area">
        <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon aria-hidden="false">sort</mat-icon>
            Sort by: {{ sortOptions[selectedSort].name }}
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let sortOption of sortOptions | keyvalue" (click)="setSort(sortOption.key)">
                <mat-icon aria-hidden="false">{{ sortOption.value.icon }}</mat-icon>
                {{ sortOption.value.name }}
            </button>
        </mat-menu>
    </div>
</div>