@import '../../../variables.scss';

.details-container {
  padding: $defaultPadding;


  &__back-button {
    color: var(--primary);
  }

  mat-card {
    background-color: var(--foreground-dark);

    mat-card-header {
      margin-bottom: 16px;

      img {
        object-fit: contain;
        border-radius: 5px;
      }

      .header-content {
        margin-left: 16px;
        display: flex;
        flex-direction: column;

        mat-card-title {
          font-size: 1.2rem;
          line-height: 1.5rem;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          /* number of lines to show */
          line-clamp: 1;
          -webkit-box-orient: vertical;
        }

        mat-card-subtitle {
          font-size: 1rem;
          line-height: 1.2rem;
        }

        .platform {
          color: var(--white);
          font-weight: 500;
          font-size: .9rem;
        }
    
        .description {
          color: var(--primary);
          font-size: 1rem;
          margin-bottom: 0;
    
          .free {
            color: var(--primary);
            margin-right: .5rem;
            font-weight: 500;
          }
    
          .worth {
            text-decoration: line-through;
            font-size: .9rem;
            color: var(--grey);
    
            &.na {
              text-decoration: unset;
            }
          }
        }
      }

      .obtain-button {
        color: var(--primary);
        background-color: var(--background);
        height: 3rem;
        width: 16rem;
        border-radius: 5px;
        margin-top: .5rem;
        margin-bottom: .5rem;
        font-size: 1rem;
      }
    }

    mat-card-content {
      margin-top: $defaultPadding;
      white-space: pre-line; // handle tags in text like br in text
      color: var(--white);
      font-size: .9rem;
      line-height: 1.5rem;

      .instructions {
        ::ng-deep a {
          color: var(--primary) !important;
          text-decoration: unset;
        }
      }

      .how-to-get {
        color: var(--primary);
        font-weight: 500;
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }
    }
  }

  &__back-button {
    margin-top: $defaultPadding;
  }

  ::ng-deep .mat-card-header-text {
    margin: 0px;
  }
}

.spacer {
  flex: 1 1 auto;
}

.loading {
  width: 100%;
  height: $swiper-height;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-image {
  margin-bottom: 20px;
}

.small-button {
  margin-top: 20px;
  width: 100% !important;
}