<div class="details-container">
    <mat-card *ngIf="giveaway; else loading">
        <mat-card-header fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <img [ngClass.xs]="'small-image'" [ngClass.sm]="'small-image'" src="{{ giveaway.thumbnail }}"
                alt="image failed to load">
            <div class="header-content">
                <mat-card-title>{{ giveaway.title }}</mat-card-title>
                <mat-card-subtitle>
                    <mat-chip-list>
                        <mat-chip [ngStyle]="getBackgroundColor(giveaway.type)">{{ giveaway.type }}</mat-chip>
                    </mat-chip-list>
                </mat-card-subtitle>
                <span class="spacer"></span>
                <p class="platform">{{ giveaway.platforms }}</p>
                <p class="description">
                    <span class="free">FREE</span>
                    <span class="worth" [class.na]="giveaway.worth === 'N/A'">{{ giveaway.worth }}</span>
                </p>
            </div>
            <span class="spacer"></span>
            <a mat-raised-button class="obtain-button" fxLayout="column" fxLayoutAlign="center center"
                [ngClass.xs]="'small-button'" [ngClass.sm]="'small-button'" href="{{ giveaway.open_giveaway_url }}"
                target="_blank">
                Get giveaway
            </a>
        </mat-card-header>
        <mat-divider inset></mat-divider>
        <mat-card-content fxLayout="column" fxLayoutAlign="flex-end">
            <p class="description">{{ giveaway.description }}</p>
            <h4 class="how-to-get">How to get:</h4>
            <p class="instructions" [innerHtml]="giveaway.instructions"></p>
        </mat-card-content>
    </mat-card>

    <button mat-button class="details-container__back-button" routerLink="/">
        <mat-icon>arrow_back</mat-icon>
        Back to homepage
    </button>
</div>

<ng-template #loading>
    <div class="loading">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>