<swiper [style.width.px]="swiperWidth" [slidesPerView]="slidesPerView" [centeredSlides]="false" [slidesPerGroup]="slidesPerGroup" [grabCursor]="true" [keyboard]="{
      enabled: true
    }" style="--swiper-navigation-color: #40C4FF;--swiper-pagination-color: #40C4FF" [autoplay]="{
      delay: 5000,
      disableOnInteraction: false
    }" [scrollbar]="true" [navigation]="true" [pagination]="{
      clickable: true
    }">
  <ng-template swiperSlide *ngFor="let giveaway of hotGiveaways">
    <div class="title" data-swiper-parallax="-300">{{ giveaway.name }}</div>
    <img src="{{ giveaway.url}}" />
  </ng-template>
</swiper>