.giveaway-tracker {
  background-color: var(--background);
  min-height: 100%;
  position: relative;

  &__footer {
    height: 64px
  }

  &__banner {
    width: 100%;
  }
}

.sidenav-container {
  position: fixed;
  background-color: var(--foreground-dark);
}
