<div style="width: 100%">
  <swiper [slidesPerView]="'auto'" [centeredSlides]="false" [autoHeight]="true"
    [grabCursor]="true" [keyboard]="{
enabled: true
}" style="--swiper-navigation-color: #F7F6F2;--swiper-pagination-color: #F7F6F2" [autoplay]="{
delay: 5000,
disableOnInteraction: true
}" [navigation]="true" [pagination]="{
clickable: true
}">
    <ng-template swiperSlide *ngFor="let bannerItem of bannerItems">
      <div class="title" data-swiper-parallax="-300">{{ bannerItem.name }}</div>
      <img src="{{ bannerItem.url}}" />
      <button mat-raised-button class="view-button">View</button>
    </ng-template>
  </swiper>
</div>