/* You can add global styles to this file, and also import other style files */

:root {
    --background: #1F1D36; 
    --foreground-dark: #3F3351;
    --foreground-light: #864879;
    --grey: #B2B1B9;
    --primary: #B983FF;
    --white: #F7F6F2;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--background);
    color: var(--primary);
    overflow-x: hidden;
    overflow-y: auto;
}

body::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
body::-webkit-scrollbar-track {
    background: var(--foreground-dark);        /* color of the tracking area */
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--primary);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid var(--foreground-dark);  /* creates padding around scroll thumb */
}