/* You can add global styles to this file, and also import other style files */

:root {
    --background: #0D335D ; 
    --foreground-dark: #1A508B;
    --foreground-light: #ABC2E8;
    --grey: #C9CCD5;
    --primary: #ff8000;
    --white: #F7F6F2;
}

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--background);
    color: var(--primary);
    overflow-x: hidden;
    overflow-y: auto;
}

/*
body::-webkit-scrollbar {
    width: 12px;             
}
  
body::-webkit-scrollbar-track {
    background: var(--foreground-dark);     
}
  
body::-webkit-scrollbar-thumb {
    background-color: var(--foreground-light); 
    border-radius: 20px;
    border: 3px solid var(--foreground-dark);
}
*/

.mat-progress-spinner circle, .mat-spinner circle {
    stroke: var(--foreground-light) !important;
}

.mat-drawer-inner-container::-webkit-scrollbar {
    display: none;
}